@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #c9c4d3
  }

  body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    overflow-x:hidden;
    background-color: #1B1030;
  }
}

@layer components {
  @layer components {
    .menu-item {
      @apply text-xs md:text-sm font-normal text-whiteish relative cursor-pointer after:content-[''] after:w-full after:h-[3px] after:bg-primary after:absolute after:left-0 after:-bottom-2 after:rounded after:opacity-0 after:transition-all;
    }
  
    .menu-item::after {
      transition: opacity 300ms ease, transform 300ms ease;
      transform: translateX(-100%);
    }
  
    .menu-icon:hover {
      color: #7880B5;
    }

    .menu-item:hover::after {
      opacity: 1;
      transform: translateX(0);
    }

    .no-hover {
      transition: none;
      cursor: default;
      pointer-events: none;
    }

    .primary-btn {
      @apply h-9 md:h-11 bg-primary text-white text-sm px-6 rounded border border-primary hover:bg-transparent hover:text-primary;
    }

    .custom-carousel .carousel-indicators {
      position: absolute;
      bottom: -50px; /* Adjust the spacing below the image */
      display: flex;
      justify-content: center;
      gap: 10px; /* Add spacing between indicators */
      width: auto; /* Ensure width doesn't constrain the indicators */
      padding: 0;
      list-style: none; /* Remove any default styling */
      z-index: 1; /* Ensure indicators are on top of other content */
    }
    
    
    .custom-carousel .carousel-indicators li {
      background-color: #ccc; /* Default dot color */
      width: 12px;
      height: 12px;
      border-radius: 50%; /* Round dots */
      cursor: pointer;
      border: none; /* Remove any default border */
    }
    
    .custom-carousel .carousel-indicators .active {
      background-color: #7880B5; /* Active dot color */
    }

    .indicator {
      position: absolute;
      right: -8px; /* Adjust to the right of the company name */
      width: 4px;
      height: 32px; /* Matches the height of the sidebar item */
      background-color: #7880B5; /* Your light purple color */
      transition: top 0.3s ease-in-out; /* Smooth vertical transition */
      transform: translateY(22px); /* Start below the first item */
    }
    
  }
  

}

